@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.font-moglan {
  font-family: var(--font-moglan);
}
.font-avita {
  font-family: var(--font-avita);
}
.font-alexbrush {
  font-family: 'Alex Brush', cursive;
}

@font-face {
  font-family: "MoglanDemo";
  src: url("/fonts/Moglan_DEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer components {
  /* Boat CSS Animation */
  @keyframes moveBoat {
    0% {
      transform: translateX(110vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-boat {
    animation: moveBoat 25s linear infinite;
  }

  /* Floating Button Animation */
  @keyframes float {  
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .enterbutton {
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
  }

  /* rotating jaapi about*/
  @keyframes rotateJaapi {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .jaapi {
    animation: rotateJaapi 10s linear infinite;
  }
}

